<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Materials -->
    <material name="gray">
        <color rgba="0.7 0.7 0.7 1" />
    </material>

    <!-- Links -->
    <xacro:macro name="calibration_board_holder" params="parent">
        <link name="calibration_board_holder_link">
            <visual>
                <geometry>
                    <box size="0.12 0.003 0.08"/>
                    <!-- <mesh filename="file://$(find viola_description)/meshes/APRIL-TAG-MOUNT-FOR-VIOLA-ARM.STL" 
                          scale="0.001 0.001 0.001"/> -->
                </geometry>
                <material name="gray"/>
                <origin xyz="0 0 0.04" rpy="0 0 0"/>
            </visual>
        </link>

        <link name="calibration_board_origo" />

        <!-- Joints -->
        <joint name="${parent}_to_calibration_board_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="calibration_board_holder_link"/>
            <origin xyz="0 0 -0.047" rpy="0 0 0"/>
        </joint>

        <joint name="calibration_board_to_calibration_board_origo_joint" type="fixed">
            <parent link="calibration_board_holder_link"/>
            <child link="calibration_board_origo"/>
            <origin xyz="-0.053 0 0.073" rpy="1.5708 1.5708 0"/>
        </joint>
    </xacro:macro>

</robot>
