<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" >

    <!-- Variables -->
    <xacro:property name="pi_val" value="3.1415926535"/>

    <!-- Materials -->
    <material name="gray">
        <color rgba="0.5 0.5 0.5 1" />
    </material>

    <xacro:macro name="camera_with_stand" params="camera_pos_z
                                                  camera_roll:=0.0 
                                                  camera_pitch:=0.0 
                                                  camera_yaw:=0.0 
                                                  camera_name:=camera">
        <!-- Include realsense urdf macro -->
        <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>

        <!-- Links -->
        <link name="camera_connection_link"/>

        <link name="camera_base_link"/>

        <link name="camera_mount_link"/>

        <link name="camera_holder_upper_arm_link">
            <visual>
                <origin xyz="0.015 0 -0.15" rpy="0 0 0"/>
                <geometry>
                    <box size="0.03 0.03 0.3"/>
                </geometry>
                <material name="gray"/>
            </visual>
            <collision>
                <origin xyz="0 0 -0.15" rpy="0 0 0"/>
                <geometry>
                    <box size="0.03 0.03 0.3"/>
                </geometry>
            </collision>
        </link>

        <link name="camera_holder_lower_arm_link">
            <visual>
                <origin xyz="${camera_pos_z/2} 0 0.015" rpy="0 0 0"/>
                <geometry>
                    <box size="${camera_pos_z} 0.03 0.03"/>
                </geometry>
                <material name="gray"/>
            </visual>
            <collision>
                <origin xyz="${camera_pos_z/2} 0 0.015" rpy="0 0 0"/>
                <geometry>
                    <box size="${camera_pos_z} 0.03 0.03"/>
                </geometry>
            </collision>
        </link>

        <link name="camera_holder_base">
            <visual>
                <geometry>
                    <cylinder radius="0.08" length="0.01" />
                </geometry>
                <origin xyz="0 0 -0.005" rpy="0 0 0" />
                <material name="gray" />
            </visual>
        </link>


        <!-- Joints -->
        <xacro:sensor_d435i parent="camera_connection_link" name="${camera_name}" use_nominal_extrinsics="true" >
            <origin xyz="0 0 0" rpy="${camera_roll} ${camera_pitch} ${camera_yaw}"/>
        </xacro:sensor_d435i>

        <joint name="camera_connection_to_camera_base_joint" type="fixed">
            <parent link="camera_connection_link"/>
            <child link="camera_base_link"/>
            <origin xyz="-0.0095 0 0.0125" rpy="0 0 0"/>
        </joint>

        <joint name="camera_base_to_camera_mount_joint" type="fixed">
            <parent link="camera_base_link"/>
            <child link="camera_mount_link"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>
        
        <joint name="camera_mount_to_upper_arm_joint" type="fixed">
            <parent link="camera_mount_link"/>
            <child link="camera_holder_upper_arm_link"/>
            <origin xyz="-0.0125 0 0.03" rpy="${pi_val} ${pi_val/2} 0"/>
        </joint>

        <joint name="camera_holder_upper_arm_to_camera_holder_lower_arm_joint" type="fixed">
            <parent link="camera_holder_upper_arm_link"/>
            <child link="camera_holder_lower_arm_link"/>
            <origin xyz="0.03 0 -0.3" rpy="0 0 0"/>
        </joint>

        <joint name="camera_holder_lower_arm_to_camera_holder_base_joint" type="fixed">
            <parent link="camera_holder_lower_arm_link"/>
            <child link="camera_holder_base"/>
            <origin xyz="${camera_pos_z} 0 0.015" rpy="0 ${pi_val/2} 0"/>
        </joint>
    </xacro:macro>

</robot>
